/**
 * Created by MaxymMirona on 28.01.2020.
 */

.THIS .input-allocation__c input{
    text-align: center;
    min-width: 75px;
}
.THIS#percent_input {
    padding: var(--lwc-spacingSmall,0.75rem);
}