/**
 * Created by Ponomarov Vladyslav on 14.08.2019.
 */

.THIS {
}
.THIS div.container {
    overflow: scroll;
    height: 325px;
}
.THIS table{
    max-height: 350px;
}
.THIS thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #f4f3ff;
    z-index: 2;
}
.THIS tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    background: #f4f3ff;
    left: 0;
    z-index: 1;

}
.THIS .cell{
    /*max-width: 80px !important;*/
    min-width: 80px !important;
    min-height: 40px  !important;
    text-align:center;
    white-space: pre-wrap;
}
.THIS .-webkit-scrollbar{
    width:12px;
}