.THIS .cost{
     background: transparent;
     width: 100%;
     height: 500px;
}

.THIS .cost .slds-box {
    width: 100%;
}

.THIS .empty{
     background: transparent;
     width: 20%;
     height: 5%;
}

.THIS .tableHeader {
    display: flex;
    height: 5%;
}

.THIS .tableBody {
    position: relative;
    right: 1.85%;
    margin: 30px;
    width: 100%;
    margin: 30px;

}

.THIS .slds-box {
    background: white;
    text-align: center;
}


.THIS .slds-p-around_small {
    padding: 3px;
}

.THIS .finReport {
    display: flex;
    width: 85%;
}

.THIS .budgetType {
    display: flex;
     width:15%;
}
.THIS .budgetElement {
    display:flex;
}

.THIS .budgetType2 {
    width:15%;
    display: flex;
}
.THIS .budgetElement2 {
    display:flex;
}

.THIS .finReport2 {
    display: flex;
    width: 85%;
}

.THIS .months {
    position: relative;
    left:15.6%;
    display:flex;
    width: 100%;
}

.THIS .months .slds-box {
    width: 6.965%;
    margin: 0px;
}

.THIS .monthHeader {
    position:sticky;
    left:15.6%;
    top: 10em;
    display:flex;
    background-color: transparent;
    z-index: 1;
}

.THIS .cost .slds-box {
    padding: 10px 0px 10px 0px;
}

.THIS .slds-input {
    border: none;
    text-align: center;
}

.THIS .flexipageAppHomeTemplateTwoColumns {
    display: flex;
}

.THIS .shareButton {
    width:40.26em;
}

.THIS .chatterIcon .slds-button__icon {
    width: 35px;
    height: 35px;
    color: #3e96e7;
}

.THIS .chatterIcon .slds-button__icon:hover {
    color: #034b8e;
}

.THIS .chatterIcon {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 50px;
    height: 50px;
}

.THIS .chatter-popup {
    display: none;
    position: fixed;
    max-height: 60%;
    overflow-y: scroll;
    bottom: 0;
    right: 15px;
    width: 35%;
    transition: width 2s;
    z-index: 1;
}